<html>
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/style.css">
        <script src="static/tripSearch.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Calistoga&family=Lexend:wght@100..900&display=swap" rel="stylesheet">
    </head>
<body>
<div class="navigation">
            <div><a href="{{ url_for('staffHome') }}">Return to Home</a></div>
        </div>
        <div class="heading">
            <h1>Add a New Airport</h1>
        </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="alert {{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
<h2 class="subheading">Please enter the required information</h2>
<form action="/addAirport" method="POST">
    <input type="text" name="airport_code" placeholder="airport_code"/></br>
    <input type="text" name="airport_name" placeholder="airport_name"/></br>
    <input type="text" name="city" placeholder="city"/></br>
    <input type="text" name="country" placeholder="country"/></br>
    <input type="number" name="num_terminals" placeholder="num_terminals"/></br>
    <input type="submit" value= addAirport />
    {% if error %}
        <p class="error"><strong>Error:</strong>{{error}}</p>
    {% endif %}
</form>
</body>
</html>
