<html>
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/style.css">
        <script src="static/tripSearch.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Calistoga&family=Lexend:wght@100..900&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="navigation">
            <div><a href="{{ url_for('loginAuth') }}">Login</a></div>
            <div><a href="{{ url_for('customerRegister') }}">Customer Registration</a></div>
            <div><a href="{{ url_for('staffRegister') }}">Staff Registration</a></div>
        </div>
        <div class="heading">
            <h1>Welcome!</h1>
        </div>
        <!-- ADD IN STUFF ABOUT FLIGHT SEARCH -->
        <div class="heading">
            <h1>Find your next trip!</h1>
        </div>
        <div class="flightForm">
            <!--form for flight search-->
            <form class="flightSearch" id="customerFlightSearch" action="/homepage" method="POST">
                <div class="formSection locations">
                    <!--Starting point drop down-->
                    <div>
                        <label for="startingPoint">From:</label>
                        <select id="startingPoint" name="startingPoint">
                            <option value="JFK">New York</option>
                            <option value="MSP">Minneapolis</option>
                            <option value="PVG">Shanghai</option>
                        </select>
                    </div>
                    <div><p>-----------------------------------></p></div>
                    <!--destination drop down-->
                    <div>
                        <label for="destination">To:</label>
                        <select id="destination" name="destination">
                            <option value="JFK">New York</option>
                            <option value="MSP">Minneapolis</option>
                            <option value="PVG">Shanghai</option>
                        </select>
                    </div>
                </div>

                <div class="formSection typeSelection">
                    <!--One way or round trip-->
                    <div>
                        <input type="radio" id="one-way" name="tripType" value="one-way" checked>
                        <label for="one-way">one-way</label>
                    </div>
                    
                    <div>
                        <input type="radio" id="round-trip" name="tripType" value="round-trip">
                        <label for="round-trip">round-trip</label>
                    </div>
                </div>

                <div class="formSection deptDate">
                    <div>
                        <!--departure date-->
                        <label for="deptMonth">Departure Date:</label>
                        <!--month-->
                        <select name="deptMonth" id="deptMonth">
                            <option value="1">January</option>
                            <option value="2">February</option>
                            <option value="3">March</option>
                            <option value="4">April</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                        <!--day-->
                        <input type="text" id="deptDay" name="deptDay" placeholder="day">

                        <!--year-->
                        <select name="deptYear" id="deptYear">
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                            <option value="2025">2025</option>
                            <option value="2026">2026</option>
                        </select>
                    </div>
                </div>

                <div class="formSection returnDate" id="returnDate">
                    <!--return date, only shows if round trip is selected-->
                    <label for="retMonth">Return Date:</label>
                    <!--month-->
                    <select name="retMonth" id="retMonth">
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                    <!--day-->
                    <input type="text" id="retDay" name="retDay" placeholder="day">

                    <!--year-->
                    <select name="retYear" id="retYear">
                        <option value="2022">2022</option>
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                        <option value="2025">2025</option>
                        <option value="2026">2026</option>
                    </select>
                </div>

                <div class="formSection searchButton"><button type="submit">Search</button></div>



      </body>
</html>