<html>
    <head>
        <title>Spending</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Calistoga&family=Lexend:wght@100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="navigation">
            <div><a href="{{ url_for('userHome') }}">Home</a></div>
            <div><a href="{{ url_for('tripSearch') }}">Trip Search</a></div>
            <div><a href="{{ url_for('userPastFlights') }}">Your Spending</a></div>
            <div><a href="{{ url_for('userLogout') }}">Logout</a></div>
        </div>
        <div class="heading">
            <h1 >Your Spending</h1>
        </div>
        <div class='yearSpent'>
            <div class="spendingSection" >
                <h2 class="subheading">Last year you spent </h2>
                <p class="total">${{ totalSpentYear }}</p>
            </div>
            <div class="spendingSection">
                <h2 class="subheading">Here's a look at the last 6 months</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Month</th>
                            <th>Spent ($)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in data %}
                        <tr>
                            <td>{{ row.month }}</td>
                            <td>{{ row.totalSpent }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
            <form class="dateSpent" action="\spending">
                <div class="dateForm">
                    <div>
                        <label for="dateSince">Check your spendings since:</label>
                        <input type="date" name="startDateInput" placeholder="startDate"/></br>
                        <input type="date" name="endDateInput" placeholder="endDate"/></br>
                    <div class="submitButton"><button type="submit" id="submitJS">Submit</button></div>
                </div>
            </form>
        </div>

        
        
        <div class="userSpent" id="userSpentJS">
            <div class="spendingSection">
                <h2 class="subheading">Between{{ startDate }} and {{ endDate }}, you have spent </h2>
                <p>${{ sinceTotal }}</p>
            </div>
            <div class="spendingSection">
                <h2 class="subheading">By month</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Month</th>
                            <th>Spent ($)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sinceRow in sinceData %}
                        <tr>
                            <td>{{ sinceRow.month }}</td>
                            <td>{{ sinceRow.spent }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>