<html>
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/style.css">
        <script src="static/tripSearch.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Calistoga&family=Lexend:wght@100..900&display=swap" rel="stylesheet">
    </head>
<body>
<div class="navigation">
            <div><a href="{{ url_for('homepage') }}">Return to Home</a></div>
        </div>
        <div class="heading">
            <h1>Welcome!</h1>
        </div>
<h2 class="subheading">Please enter the required information</h2>
<form action="/staffRegister" method = 'POST'>
    <input type="text" name="username" placeholder="username"/></br>
    <input type="text" name="airline_name" placeholder="airline_name"/></br>
    <input type="text" name="first_name" placeholder="first_name"/></br>
    <input type="text" name="last_name" placeholder="last_name"/></br>
    <input type="date" name="dob" placeholder="dob"/></br>
    <input type="password" name="password" placeholder="password"/></br>
    <input type="number" name="phone_number" placeholder="phone_number"/></br>
    <input type="text" name="email" placeholder="email"/></br>
    <input type="submit" value= staffRegister />
    {% if error %}
        <p class="error"><strong>Error:</strong>{{error}}</p>
    {% endif %}

</form>

</body>
</html>